@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    font-family: 'Noto Sans TC';
}

.rmdcaution, .rmdimportant, .rmdnote, .rmdtip, .rmdwarning {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
}
.rmdcaution {
  background-image: url("../images/caution.png");
}
.rmdimportant {
  background-image: url("../images/important.png");
}
.rmdnote {
  background-image: url("../images/note.png");
}
.rmdtip {
  background-image: url("../images/tip.png");
}
.rmdwarning {
  background-image: url("../images/warning.png");
}
p.caption {
  color: #777;
    margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
p.flushright {
  text-align: right;
}
blockquote > p:last-child {
  text-align: right;
}
blockquote > p:first-child {
  text-align: inherit;
}
.header-section-number {
  padding-right: .2em;
  font-weight: 500;
}
.level1 .header-section-number {
  display: inline-block;
  border-bottom: 3px solid;
}
.level1 h1 {
  border-bottom: 1px solid;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
h1.title {
  font-weight: 700;
}
.book .book-body .page-wrapper .page-inner section.normal strong {
  font-weight: 500;
}

/***************/

body {
	font-family: "Noto Sans TC", "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 300; 
}

h1, h2, h3{
	font-family: "Noto Sans TC", "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}


/***************/

.page-inner .section ul li {
  font-weight: 500;
  font-size: 1.3em !important;
  margin-top: 20px;
}

.page-inner .section ul li ul li{
  font-weight: 300; 
  font-size: 0.9em !important;
  margin-top: 0px;
}

.book .book-body .page-wrapper .page-inner{
  max-width: 80%;
}

/***************/
img {
    padding: 20px;
}

pre {
    display: block;
    padding: 10px 20px !important;
    margin: 0 0 2px 0 !important;
    word-break: break-all;
    word-wrap: break-word;
    color: #333333;
    background-color: #ffffff !important;
    border-radius: 10px !important;
}

.sourceCode{
  background-color: #fafafa !important;
  border-radius: 10px !important;
  border: 1px solid #cccccc;
}

/***************/
.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50;
    font-size: 16px;
    line-height: 50px;
    border-radius: 50px;
    background-color: #008cc9;
    float: right;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.chip a {
    color: #ffffff !important;
    font-weight: bold;
    text-decoration: none !important;
}